<ion-toolbar>
  <ion-title></ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <form [formGroup]="foodForm">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item [class.invalid]="foodForm.controls['name'].invalid && foodForm.controls['name'].touched">
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
            <ion-text *ngIf="foodForm.controls['name'].invalid && foodForm.controls['name'].touched" color="danger">
              Name is required.
            </ion-text>
          </ion-item>
          <ion-item [class.invalid]="foodForm.controls['price'].invalid && foodForm.controls['price'].touched">
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
            <ion-text *ngIf="foodForm.controls['price'].invalid && foodForm.controls['price'].touched" color="danger">
              Price is required.
            </ion-text>
          </ion-item>
          <ion-item
            [class.invalid]="foodForm.controls['description'].invalid && foodForm.controls['description'].touched">
            <ion-label position="floating">Description</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
            <ion-text *ngIf="foodForm.controls['description'].invalid && foodForm.controls['description'].touched"
              color="danger">
              Description is required.
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button expand="block" (click)="addFood()" style="margin: 10px;" [disabled]="foodForm.invalid">Add
        Food</ion-button>
    </ion-grid>
  </form>
</ion-content>